body{
    background: rgb(45, 106, 239);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
footer{
    color: white;
    text-align: center;
}